@charset "UTF-8";

body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin: 20px;
}

#div_inputs {
    text-align: center;
    background-color: #b2dab2;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

#input_gender, #input_weight, #input_height, #input_age {
    font-size: 15px;
    height: 18px;
    background-color: #f2f2f2;
    border: 1.5px solid  #206020;
    border-radius: 3px;
    text-align: center;
}

button {
    font-size: 15px;
    border-radius: 4px;
}

#div_principal {
    background-color: #b2dab2;
    border-radius: 8px;
    margin: 10px;
    width: 98.5%;
    float: left;
}

#div_result {
    float: inherit;
    justify-items: center;
    text-align: center;
    font-size: 18px;
    padding-left: 120px;
    padding-right: 80px;
}

#illustration {
    width: 340px;
    padding: 12px;
}